[Unit]
Description=chatGPT_TGbot
After=syslog.target
After=network.target

[Service]
WorkingDirectory=/root/PyProjects/chatGPT_TGbot

User=root
Group=root

Type=simple
Restart=always
ExecStart=/root/PyProjects/chatGPT_TGbot/venv/bin/python3 /root/PyProjects/chatGPT_TGbot/main.py

[Install]
WantedBy=multi-user.target