[Unit]
Description=TGbotHomerAI
After=syslog.target
After=network.target

[Service]
WorkingDirectory=/root/PyProjects/TGbotHomerAI

User=root
Group=root

Type=simple
Restart=always
ExecStart=/root/PyProjects/TGbotHomerAI/venv/bin/python3 /root/PyProjects/TGbotHomerAI/main.py

[Install]
WantedBy=multi-user.target